<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>ggravatar</id>
<name>Gravatar 头像Ⅱ</name>
<url>https://www.imlgm.com/</url>
<note>ZB自带的Gravatar头像 加强版</note>
<description>修改自ZSX 的Gravatar插件，修改了链接处理方式为Gravatar官方代码
1，加入验证是否设置了 Gravatar 头像 而不是 Gravatar 默认的头像
2，加入随机头像
3，留两个开发者自定义的函数</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>大谋,zsx</name>
  <email>76453189@qq.com</email>
  <url>https://www.imlgm.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>140614</adapted>
<version>2.1</version>
<pubdate>2017-02-23</pubdate>
<modified>2017-02-25</modified>
<price>0</price>
<phpver>5.2</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict>Gravatar</conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>