html{margin:0;padding:0;border:0}
body{font-family:tahoma,arial}
body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,nav,section{margin:0;padding:0;border:0;font-size:100%;font-family:arial,'Hiragino Sans GB','Microsoft Yahei','微软雅黑','宋体',\5b8b\4f53,Tahoma,Arial,Helvetica,STHeiti;vertical-align:baseline}
article,aside,details,figcaption,figure,dialog,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1.5;background:#fff}
table{border-collapse:separate;border-spacing:0}
caption,th,td{text-align:left;font-weight:400;float:none!important}
table,th,td{vertical-align:middle}
blockquote:before,blockquote:after,q:before,q:after{content:''}
blockquote,q{quotes:"" ""}
a img{border:0}
:focus{outline:0}
ul,ol,li{list-style:none}
*{padding:0;margin:0;border:0;-webkit-font-smoothing:antialiased}
ul,ol,li{list-style:none}
#Header,#Body{margin:0 auto}
#Body:after{clear:both;overflow:hidden;content:'\20';display:block;height:0}
@font-face{font-family:fzltzh;src:url(font/fzltzh_ab14685.otf) format('truetype');font-weight:400;font-style:normal}
@font-face{font-family:fzltxh;src:url(font/fzltxh_32159fb.otf) format('truetype');font-weight:400;font-style:normal}
button,input,select,textarea,label{vertical-align:middle}
h1,h2,h3,h4,h6,h6{font-weight:700;font-size:100%}
a:link{text-decoration:none;color:#133DB6}
a:visited{text-decoration:none}
a:hover{text-decoration:underline}
.align-r{text-align:right}
.align-c{text-align:center}
.align-l{text-align:left}
.bold{font-weight:700}
.hide,.divSearchPanel,.right>li{display:none}
#tbCalendar{width: 100%;line-height: 30px;}
#tbCalendar td,#tbCalendar th,#tbCalendar caption{text-align: center;}
.clearfix:after{clear:both;content:'.';display:block;font-size:0;line-height:0;visibility:hidden;height:0}
.clearfix{zoom:1}
.search_title{margin-bottom: 8px; margin-left: 15px;}
.large li ul{line-height: 35px;list-style-type: none;left: -999em;position: absolute;padding-top: 60px;overflow: visible;}
.large li ul li{float: left;margin: 0 !important;background-color: #333333;width: 120px !important;height: 40px !important;line-height: 40px !important;}
.large li ul li a{display: block;text-align:center;width: 100px;padding: 0px;background-image: none; height: 40px !important;height: 40px;font-weight: normal;}
.large li ul a:hover{color:#ffffff;text-decoration:none;font-weight:normal;background-color: #c72c3b;}
.large li:hover ul{left: auto;}
.large li.sfhover ul{left: auto;}
#pagebar{padding: 20px 0;}
#pagebar .pagebar-list li,.commentpagebar ul li{display: inline-block;margin: 2px 0;}
.hclc .commentpagebar ul li a{height: 16px; line-height: 16px;padding: 5px 10px;}
#pagebar .pagebar-list li a,.commentpagebar ul li a{color: #555555; display: inline-block; padding: 6px 12px; height: 22px; line-height: 21px; background-color: #EEEEEE; margin-right: 6px;text-decoration: none;}
#usrbar{height:19px;line-height:19px;margin-top:4px;color:#000;font:12px/19px Arial;padding-bottom:2px;padding-right:0;position:relative;right:10px;z-index:100;text-align:right}
#usrbar img{border:medium none}
#usrbar a{color:#00C;margin-left:6px;text-decoration:underline}
#usrbar ul{list-style-type:none;margin:0;padding:0;position:relative;z-index:100;zoom:1}
#usrbar li{float:right}
#usrbar .uname{font-weight:700}
#usrbar .line{background:none repeat scroll 0 0 #999;color:#999;display:inline;height:12px;margin:3px 0 0 6px;overflow:hidden;width:1px}
#usrbar .msgs{color:#00C}
#usrbar .msgs span{color:red}
#usrbar .mn-lk-w{font-family:Arial;position:relative;vertical-align:baseline}
#usrbar .mn-lk-w .mn-lk{background:url(/news.baidu.com/resource/img/mn.png) no-repeat scroll right 6px transparent;padding-right:11px}
#usrbar .mn-tip-null{clear:both;font-size:1px;height:5px;overflow:hidden;width:75px}
#usrbar .mn-tip{background:none repeat scroll 0 0 #FFF;border:1px solid #999;box-shadow:1px 1px 2px #CCC;color:#888;font-weight:400;position:absolute;text-align:left;top:20px;z-index:10}
#usrbar .mn-tip a{margin-left:0}
#usrbar .mn-tip .mn{margin:0;padding:0}
#usrbar .mn-tip .mn li{float:left;margin:0;padding:0;white-space:nowrap;width:100%}
#usrbar .mn-tip .mn a{display:block;padding:3px 6px;text-decoration:none}
#usrbar .mn-tip .mn a:hover{background:none repeat scroll 0 0 #EBEBEB}
#usrbar .mn-tip .mn .my-info{border-bottom:1px solid #EBEBEB}
#usrbar .mn-tip .mn .logout{border-top:1px solid #EBEBEB}
.i-triangler-left{width:0;height:0;border-top:3px solid #fff;border-right:4px solid #5c5c5c;border-bottom:3px solid #fff}
.i-triangler-right{width:0;height:0;border-top:3px solid #fff;border-left:4px solid #5c5c5c;border-bottom:3px solid #fff}
.i-triangler-up{width:0;height:0;border-left:3px solid #fff;border-right:3px solid #fff;border-bottom:4px solid #5c5c5c}
.i-triangler-down{width:0;height:0;border-left:3px solid #fff;border-right:3px solid #fff;border-top:4px solid #5c5c5c}
#Header{background:#c72c3b}
#Header .menulist li a{border-color:#c72c3b!important}
#Header .menulist li a:link,#Header .menulist li a:visited{color:#fff}
#Header .menulist li a:hover,#Header .menulist li.hover a,#Header .menulist li.active a{border-bottom-color:#fff!important}
#Header .submenulist{border:1px solid #dedede;background:#fff}
#Header .submenulist li{border-bottom:1px solid #fff}
#Header li .submenulist li a,#Header li .submenulist li a:link,#Header li .submenulist li a:visited{color:#000}
#Header .submenulist li a .enname{color:#c6c6c6}
#Header .submenulist li a .rt{color:#c6c6c6}
#Header .menulist li .submenulist li a:hover{background:#f1e8e8}
#Header .menulist li .submenulist li a:hover .enname{color:#c6c6c6}
.focus-item .type,.feed-item .type{background:#c2323e;color:#fff}
.iplay{background-position:0 -24px!important}
.feed_tegao .type a{color:#de888f;border:1px solid #e5e5e5!important}
.feed_tegao .type a:hover{color:#fff;background:#de888f;border-color:#de888f!important}
#Cover{background:#c82b3a}
#Cover .coverbg{background-image:-webkit-radial-gradient(center top,400px 160px,rgba(220,76,71,1),rgba(220,76,71,0));background-image:-ms-radial-gradient(center top,400px 160px,rgba(220,76,71,1),rgba(220,76,71,0));background-image:-moz-radial-gradient(center top,400px 160px,rgba(220,76,71,1),rgba(220,76,71,0));background-image:radial-gradient(400px 160px at center top,rgba(220,76,71,1),rgba(220,76,71,0))}
.ulist li .num{color:#dd5d69}
.ulist li .top3{background:#dd5d69;color:#fff}
.page-Article-QQ{font-size: 0;margin: 0 auto;padding-bottom: 25px;padding-top: 0;text-align: center;}
.page-Article-QQ li{display: inline-block;margin-right: 3px;}
.page-Article-QQ li a, .page-Article-QQ li a:visited, .page-Article-QQ li a:link, .page-Article-QQ li a:hover{color: #000000;text-decoration: none;}
.page-Article-QQ li a{border: 1px solid #DDDDDD;display: inline-block;font-size: 14px;line-height: 28px;padding: 0 10px;}
.page-Article-QQ li span{background: none repeat scroll 0 0 #c72c3b;border: 1px solid #DDDDDD;color: #FFFFFF;display: inline-block;font-size: 14px;font-weight: 700;line-height: 28px;padding: 0 10px;}
.page-Article-QQ .thisclass a, .page-Article-QQ li a:hover{background:none repeat scroll 0 0 #c72c3b;border:1px solid #c72c3b;color:#FFFFFF !important;}
.column{margin:12px 0}
.l-left-col{float:left;width:648px}
.l-right-col{float:right;width:324px}
body{padding-top:60px;font-family:arial,'Hiragino Sans GB','Microsoft Yahei','微软雅黑','宋体',\5b8b\4f53,Tahoma,Arial,Helvetica,STHeiti}
#Body{transition:transform .5s ease 0s;-webkit-transition:-webkit-transform .5s ease 0s;padding-top:30px}
.nodis{display:none!important}
.body{width:1000px;margin:0 auto;min-height:1000px}
.left{width:660px;margin-right:40px;float:left;min-height:500px}
.right{width:300px;float:left}
.focus{zoom:1;overflow:hidden;height:362px;margin-bottom:30px}
#feeds{width:1020px;margin-left:-20px}
#feeds:after{clear:both;overflow:hidden;content:'\20';display:block;height:0}
#banners{margin-left:0}
#banners:after{clear:both;overflow:hidden;content:'\20';display:block;height:0}
#feeds_tegao{width:1000px}
.authorbg{position:relative;padding-left:300px}
.authorCard{position:absolute;left:0;top:45px;width:180px;color:#333;font-size:16px}
.authorCard .avt{width:170px;height:170px;padding:5px;box-shadow:0 0 5px rgba(0,0,0,.2);border:1px solid #ecebeb\9}
.authorCard .avt a{display:block;height:100%}
.authorCard .avt img{width:100%;height:100%}
.authorCard .nm{text-align:center;font-size:24px;margin:11px 0}
.authorCard .nm a{color:#333;text-decoration:none}
.authorCard .verify{text-align:center;margin-bottom:10px;vertical-align:top}
.authorCard .verify .iVerify{width:18px;height:18px;display:inline-block;background:url(images/jm_verify.png?__sprite) no-repeat}
.authorCard .info{line-height:29px}
#artical h2{font-size:34px;line-height:44px;font-weight:400;color:#000;padding:10px 0 20px}
#artical .infos{font-size:12px;color:#999;border-bottom:1px solid #eaeaea;padding-bottom:10px;line-height:28px;margin-bottom:15px}
#artical .infos .tm,#artical .infos .source{margin:0 10px 0 0}
#artical .infos .source a{color:#666}
#artical .infos .source b{color:#999;font-weight:400}
#artical .infos .shares{display:inline-block;*display:inline;*zoom:1;line-height:28px;margin-left:10px}
#artical .summary{background:#f8f8f8;border:1px dashed #e6e6e6;padding:15px 22px;line-height:24px;color:#333;font-size:14px;margin:15px 0 30px}
#artical .summary span{color:#999}
#artical .img{text-align:center;margin-bottom:20px}
#artical .img img{max-width:650px}
#artical .text{color:#000;line-height:26px;font-size:14px;margin-bottom:26px;text-indent:2em;font-family:"宋体"}
#artical .title{font-weight:700}
#artical .ps{line-height:48px;color:#999;vertical-align:top}
#artical .static{margin:20px 0;font-size:14px}
#artical .static .opt{float:right;height:27px;line-height:27px}
#artical .static .opt a{margin-left:10px}
#artical .static .opt a:hover{text-decoration:none}
#artical .static .agree,#artical .static .unagree{color:#999;display:inline-block;*display:inline;*zoom:1;height:27px}
#artical .static .agree em,#artical .static .unagree em{color:#999;margin:0 5px;line-height:27px;height:27px;display:inline-block;*display:inline;*zoom:1}
#artical .static .iup,#artical .static .idown{display:inline-block;*display:inline;*zoom:1;width:27px;height:27px;background:url(images/hand_5d97ced.png) no-repeat;vertical-align:top}
#artical .static .idown{background-position:-27px 0}
#artical .static .opted .iup{background-position:0 -27px}
#artical .static .opted .idown{background-position:-27px -27px}
#artical .static .opted em{color:#369}
#artical .static .read{display:inline-block;*display:inline;*zoom:1;line-height:27px;height:27px;color:#999}
#artical .static em{font-style:normal}
.header-ad{width:960px;margin:0 auto 10px;padding:10px 0 5px;border:1px solid #eaeaea;text-align:center}
.header-ad-text{width:468px;margin:0 auto 15px;text-align:center}
.main-top-text-ad{margin:20px 0 10px;text-align:center}
.main-inner-ad{float:right;padding:0 0 20px 20px}
.main-bottom-text-ad{padding-top:20px;border-top:1px solid #eaeaea;margin:15px 0;text-align:center}
.main-bottom-banner-ad{margin:15px 0;text-align:center;width:1000px}
.right-bottom-cloud-ad{margin-bottom:20px;overflow:hidden}
.right-bottom-img-ad{text-align:center;overflow:hidden}
.footer-ad{margin:0 auto 10px;width:640px}
.channel-ads-bottom-right-pic{margin-bottom:20px;overflow:hidden}
.wp-footer{display:none!important}
@-webkit-keyframes glow{0%{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 1px 1px #bcdbfa}
25%{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 1px 6px #bcdbfa}
50%{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 1px 14px #bcdbfa}
75%{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 1px 14px #bcdbfa}
100%{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 1px 1px #bcdbfa}}@-moz-keyframes glow{0%{-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 1px 1px #bcdbfa}
25%{-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 1px 6px #bcdbfa}
50%{-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 1px 14px #bcdbfa}
75%{-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 1px 14px #bcdbfa}
100%{-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 1px 1px #bcdbfa}}@-ms-keyframes glow{0%{-ms-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 1px 1px #bcdbfa}
25%{-ms-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 1px 6px #bcdbfa}
50%{-ms-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 1px 14px #bcdbfa}
75%{-ms-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 1px 14px #bcdbfa}
100%{-ms-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 1px 1px #bcdbfa}}.glow{border:1px solid #bcdbfa!important;-o-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 1px 14px #9cbfe8;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 1px 14px #9cbfe8;-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 1px 14px #9cbfe8;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 1px 14px #9cbfe8;-webkit-animation:glow 2000ms ease infinite;-moz-animation:glow 2000ms ease infinite;-ms-animation:glow 2000ms ease infinite}
@media screen and (min-width:1000px){.mod-sidebar{display:none}
.channel-ads-bottom-right-pic{display:block!important}
.header-ad{display:block!important}
.header-ad-text{display:block!important}
.l-main-top-text-ad{display:block!important}
.main-inner-ad{display:block!important}
.footer-ad{display:block!important}
.main-bottom-text-ad{display:block!important}
.right-bottom-cloud-ad{display:block!important}
.right-bottom-img-ad{display:block!important}
#cproIframe2001holder{display:block!important}
#cproIframe2002holder{display:block!important}
#cproIframe2004holder{display:block!important}}@media screen and (max-width:1000px){.body{width:660px}
.body .right{display:none}
.body .left{float:none;min-height:0}
.mod-sidebar{display:none}
.slideReturn{transform:translateX(0px);-webkit-transform:translateX(0px)}
.wp-footer{display:none!important}
.channel-ads-bottom-right-pic{display:none!important}
.header-ad{display:none!important}
.header-ad-text{display:none!important}
.l-main-top-text-ad{display:none!important}
.main-inner-ad{display:none!important}
.footer-ad{display:none!important}
.main-bottom-text-ad{display:none!important}
.right-bottom-cloud-ad{display:none!important}
.right-bottom-img-ad{display:none!important}
#cproIframe2001holder{display:none!important}
#cproIframe2002holder{display:none!important}
#cproIframe2004holder{display:none!important}}@media screen and (max-width:660px){html{height:100%}
body{height:100%;padding-top:0}
.wrap{position:relative;z-index:10;height:100%;overflow:hidden;transition:transform .5s ease 0s;-webkit-transition:-webkit-transform .5s ease 0s}
#Body{position:relative;width:100%;background-color:#fff;padding-top:70px!important;box-sizing:border-box;height:100%;z-index:10}
.body{width:100%;height:100%;overflow:hidden;min-height:0}
.body .left{width:100%;margin:0 auto}
.article{width:92%;margin:0 auto!important}
.mod-sidebar{display:block}
.wp-footer{display:block!important}
#artical .text{font-size:18px;margin-bottom:20px}
#artical h2{font-size:28px;line-height:39px;padding-bottom:12px}
#artical .infos{font-size:16px;line-height:25px}
#artical .summary{font-size:16px;margin-bottom:15px;padding:12px}
#artical .bds_more{font-size:16px}
#artical .ps{line-height:46px}
#artical .infos .shares{display:block}
#artical .static .iup,#artical .static .idown,#artical .static .opted .iup,#artical .static .opted .idown{background-position:left top;width:25px;height:25px}
#artical .static .iup{background-image:url(images/icon-up_2fad663.png);background-size:100% auto}
#artical .static .idown{background-image:url(images/icon-down_94b77b4.png);background-size:100% auto}
#artical .static .opted .iup{background-image:url(images/icon-up-active_a30ae7c.png);background-size:100% auto}
#artical .static .opted .idown{background-image:url(images/icon-down-active_bd69e92.png);background-size:100% auto}
.slideLeft{transform:translateX(-200px);-webkit-transform:translateX(-200px);-moz-transform:translateX(-200px);-ms-transform:translateX(-200px);-o-transform:translateX(-200px)}
.content-wrapper{height:100%;overflow:hidden}}
.ap{margin-bottom:30px}
.apt h4{display:inline-block;*display:inline;*zoom:1;font-size:24px;color:#000;line-height:26px;margin-right:20px;font-weight:400}
.apt h4 a,.apt h4 a:hover,.apt h4 a:visited,.apt h4 a:active{color:#000}
.apt .more{float:right;padding-top:10px}
.apt .more a{text-decoration:none}
.apt .entit{border-bottom:1px solid #b2b2b2;height:11px;position:relative;margin-top:5px;margin-bottom:8px}
.apt .entit span{font-size: 20px; line-height: 1px; padding-right: 6px; background: #fff; display: inline-block; position: absolute; bottom: -1px;*display:inline;*zoom:1;}
.ulist li{position:relative;line-height:38px;height:38px;overflow:hidden}
.ulist li .num{position:absolute;left:0;width:20px;height:20px;text-align:center;line-height:20px;top:10px;font-size:16px}
.ulist li .tm{position:absolute;right:0;font-size:12px;color:#999;top:0;width:35px;line-height:38px;text-align:right}
.ulist li a{color:#333;font-size:16px;height:38px;display:block;overflow:hidden;text-decoration:none}
.ulist li a:hover{text-decoration:underline}
.apfix{position:fixed;top:90px;background:#fff;width:300px}
.mod-cover{width:100%}
.mod-cover .cover{width:1000px;height:160px;margin:0 auto;position:relative}
.mod-cover .cover .coverbg{width:800px;height:100%;margin:0 auto;position:absolute;top:0;left:100px}
.mod-cover .cover .coverlogo{width:100%;height:120px;position:relative;text-align:center}
.mod-cover .cover .coverlogo img{position:relative;top:50%;height:54px}
.mod-cover .cover .coverslogan{width:100%;height:26px;color:#fff;position:relative;text-align:center}
.mod-cover .cover .coverslogan .ll,.mod-cover .cover .coverslogan .rl{display:inline-block;*display:inline;*zoom:1;width:100px;height:1px;background:#fff;opacity:.5;font-size:0;line-height:0;vertical-align:middle}
.mod-cover .cover .coverslogan span{padding:0 10px;display:inline-block}
@media screen and (max-width:1000px){.mod-cover .cover{width:80%}
.mod-cover .cover .coverbg{display:none}}
#Footer{border-top:1px solid #ebebeb;padding:15px 0;background:#f0f0f0;position:relative;margin-top:-1px;transition:transform .5s ease 0s;-webkit-transition:-webkit-transform .5s ease 0s}
#Footer a{text-decoration:none}
#Footer div,#Footer p{padding:5px 0;text-align:center}
#Footer .top-nav{color:#d6d6d6;font-size:12px}
#Footer .top-nav span,#Footer .top-nav ul,#Footer .top-nav li{display: inline-block;}
#Footer .top-nav a,#Footer .top-nav strong{font-weight:400;color:#858585;margin:0 5px}
#Footer .site-info{font-size:12px;color:#999}
#Footer .site-info a,#Footer .site-info span{padding:0 3px;color:#369}
#Footer .site-info i{font-style:normal}
@media screen and (max-width:660px){#Footer{position:relative;z-index:1;display:none}
#Footer .top-nav,#Footer .site-info{line-height:22px}
#Footer .wp-wrap{display:block}
#Footer .wp-hide{display:none}
#Footer .site-info i{display:block}}
#Header{height:60px;line-height:60px;width:100%;z-index:11;box-shadow:0 2px 1px rgba(0,0,0,.2);top:0;transition:transform .5s ease 0s;-webkit-transition:-webkit-transform .5s ease 0s;position:fixed}
#Header .header{width:1000px;margin:0 auto;position:relative;height:100%}
#Header .menulist{padding:0 10px}
#Header .logo{position:absolute;*left:0;height:100%;margin-left:15px}
#Header .logo a{display:block;display:none\9;position:relative;left:0;opacity:0;filter:alpha(opacity=0);width:100%;transition:all .8s ease-out;height:100%}
#Header .logo a img{vertical-align:top;position:relative}
#Header .search{float:right;margin-top:15px;background:#45464a;border-radius:2px;height:30px;display:none}
#Header .search input{border:0 none;vertical-align:middle;background:#45464a}
#Header .search input#search_txt{font-size:12px;padding:0 8px;line-height:30px;height:30px;color:#fff}
#Header .search input#search_btn{border-left:1px solid #303136;width:30px;height:30px;background:url(images/jm_search_btn_458f5e8.png?__sprite) 5px 5px no-repeat}
#Header .menulist li{height:60px;line-height:60px;position:relative;text-align:center;float:left;width: auto; margin: 0 6px;}
#Header .menulist li a{float:left;font-size:20px;font-weight:400;text-align:center;border-bottom:4px solid #323338;height:56px;width:100%}
#Header .menulist li a:link,#Header .menulist li a:visited{text-decoration:none}
#Header .submenulist{position:absolute;top:60px;box-shadow:0 5px 5px rgba(0,0,0,.3);z-index:100}
#Header .submenulist ul{width:135px;float:left}
#Header .submenulist li{width:100%;padding:0;height:39px;line-height:39px}
#Header li .submenulist li a{display:block;font-size:16px;line-height:39px;text-align:center;float:none;height:39px;border-bottom:0}
#Header li .submenulist li a:link,#Header li .submenulist li a:visited{text-decoration:none}
#Header .submenulist li a .enname{font-size:14px;font-weight:700}
#Header .submenulist li a .rt{margin:0 6px 0 15px;font-size:18px}
#Header .menulist li .submenulist li a:hover{border:0}
#Header .logo .showlogo{opacity:1;filter:alpha(opacity=100);display:block\9}
#Header .headerSearch{float:right;position:relative;width:144px;height:32px;margin-top:14px;overflow:hidden}
#Header .searchbar{width:30px;height:100%;position:absolute;left:0;top:2px}
#Header .searchbar .searchA{display:inline-block;height:20px;width:20px;vertical-align:top;position:absolute;left:8px;top:5px;z-index:1}
#Header .searchbar .searchA .i,#Header .searchbar .txt .i{width:20px;height:20px;display:inline-block;background:url(images/headericon_ccaf415.png) no-repeat;vertical-align:top}
#Header .searchbar .searchA .i{opacity:1;filter:alpha(opacity=100);transition:all 1s ease-out}
#Header .searchbar .txt{padding:0;width:0;height:30px;background:#fff;display:inline-block;transition:all .3s ease-out;font-style:normal;vertical-align:top}
#Header .searchbar .txt .i{background-position:0 -25px;position:absolute;left:8px;top:5px}
#Header .searchbar input{width:100%;height:18px;line-height:18px;margin:6px 0;transition:all .3s ease-out;vertical-align:top;color:#333;font-size:14px}
#Header .showbar .baiduLogo{left:144px}
#Header .showbar .searchA .i{opacity:0;filter:alpha(opacity=0)}
#Header .showbar .txt{width:108px;padding:0 3px 0 33px}
#Header .baiduLogo{width:78px;position:absolute;left:50px;top:0;transition:all .3s ease-out}
#Header .baiduLogo img{width:100%;vertical-align:top}
#Header .icon-submenu{position:absolute;top:21px;left:14px;display:block;width:20px;height:18px;background-image:url(images/sm_menu_134bbe3.png);background-size:100% auto}
#Header .header .menulist.medium{display:none}
#Header .sub-menu{display:none}
@media screen and (max-width:1000px){#Header .header{width:660px}
#Header .sub-menu{display:none}
#Header .header .menulist.large{display:none}
#Header .header .menulist.medium{display:block}}@media screen and (max-width:660px){#Cover{display:none}
#Header{position:absolute!important;top:0;left:0}
#Header .header{width:100%}
#Header .header .menulist.medium{display:none}
#Header .logo a{opacity:1;display:block}
#Header .searchbar{display:none}
#Header .baiduLogo{display:none}
#Header .headerSearch{overflow:visible}
#Header .sub-menu{position:absolute;right:0;top:-14px;display:block;width:48px;height:60px}}
.feed_tegao{position:relative;height:125px;border-bottom:1px solid #ebebeb;padding:15px 15px 20px 195px}
.feed_tegao .picture{position:absolute;left:15px;top:20px;width:160px;height:120px}
.feed_tegao .picture a{display:block;height:100%}
.feed_tegao .picture img{width:100%;height:100%}
.feed_tegao h4{padding-bottom:6px}
.iplay{display:inline-block;width:24px;height:24px;background:url(/news/dedemao/newsmedia/widget/mod_banner/jm_icon_play_5a12bff.png?__sprite) no-repeat;position:relative;top:4px;margin-left:8px}
.feed_tegao h4 a{text-decoration:none;word-wrap:break-word;word-break:break-all;color:#000;font-size:24px;line-height:32px;font-weight:400}
.feed_tegao .summary{font-size:16px;line-height:26px;color:#777;height:52px;overflow:hidden}
.feed_tegao .more{color:#369;text-decoration:none}
.feed_tegao a.more:hover{text-decoration:underline}
.feed_tegao .infos{position:absolute;bottom:19px;font-size:14px;color:#999;width:450px}
.feed_tegao .infos .author{text-decoration:none;margin-right:10px;display:inline-block;max-width:280px;height:21px;line-height:21px;overflow:hidden;vertical-align:top}
.feed_tegao .infos .author em{font-style:normal}
.feed_tegao .infos .time{display:inline-block;vertical-align:top;line-height:21px;height:21px}
.feed_tegao .type{float:right}
.feed_tegao .type a{min-width:52px;_width:52px;padding:0 3px;height:19px;display:inline-block;text-align:center;font-size:12px;line-height:20px}
.feed_tegao .type a:hover{text-decoration:none}
#banners{margin-top:-18px}
#banners .long .summary{height:26px}
#banners .noimg{padding-left:15px;height:auto}
#banners .noimg .infos{position:static;margin-top:9px;width:100%}
#banners .noimg .summary{height:52px}
#banners .noimgandlong{padding-left:15px}
#banners .noimgandlong .summary{height:26px}
#banners .noimgandlong .infos{width:630px}
#banners .max{padding:130px 0 0;height:270px;min-height:270px;color:#fff;text-align:center}
#banners .max a{display:block;color:#fff;text-decoration:none}
#banners .max .picture{width:100%;height:400px;left:0;top:0}
#banners .max .infos{position:absolute;z-index:3;top:90px;left:0;text-align:center;width:100%;color:#fff;font:400 16px/30px Tahoma,Arial;height:30px}
#banners .max h4{z-index:3;text-align:center;position:relative;margin:0;display:inline-block;*display:inline;*zoom:1;min-width:250px;padding-bottom:0}
#banners .max h4 .title{border-top:1px solid #fff\9;border-top:1px solid rgba(255,255,255,.5);line-height:100px;font-size:40px;padding:0 10px;display:inline-block;min-width:230px}
#banners .max h4 .line{position:absolute;bottom:0;left:0;width:33%;height:1px;background:rgba(255,255,255,.5);opacity:.5;background:#fff\9;font-size:0;line-height:0}
#banners .max h4 .liner{left:auto;right:0}
#banners .max .writer{text-align:center;margin-top:-15px;height:30px;position:relative;z-index:3;font-size:14px;line-height:30px;font-weight:400}
#banners .max .writer .rt{margin:0 5px}
#banners .max .summary{position:relative;z-index:3;padding:0 170px;margin-top:20px;font-size:18px;line-height:28px;font-weight:400;color:#fff}
#banners .max .mark{width:100%;height:275px;position:absolute;bottom:0;z-index:2;background:none\9;left:0;background-image:linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(0,0,0,.6) 100%);filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#00000000', endColorstr='#60000000')}
.moreimgBanners{margin-top:0!important}
.moreimgBanners .feed_tegao{height:165px;padding:15px 0 20px 320px}
.moreimgBanners .feed_tegao .picture{width:284px;height:160px}
.moreimgBanners .feed_tegao .infos{width:680px}
#banners .hover,#banners .istop{background:#f8f8f8;border-color:#f8f8f8}
#banners .hover h4 a:hover,#banners .hover h4 a:link,#banners .hover h4 a:visited{color:#008cdd!important}
@media screen and (max-width:660px){.feed_tegao{padding:10px 0 10px 93px;height:67px;min-height:67px;_height:67px;margin:0 13px}
#pagebar{margin: 0 13px;}
.feed_tegao .picture{width:80px;height:60px;left:0;top:13px}
.feed_tegao h4{max-height:44px;overflow:hidden}
.feed_tegao h4 a{font-size:16px;line-height:24px}
.feed_tegao .summary{display:none}
.feed_tegao .infos{position:static;width:100%}
.feed_tegao .infos .author{display:none}
.feed_tegao .type a{min-width:0;max-width:52px;font-size:11px;height:14px;line-height:15px;overflow:hidden}
.content p,article h1,.contInfo,.copyright{margin: 0 10px;}
#banners{margin-top:0}
#banners .noimg{padding-left:0}
#banners .noimgandlong{padding-left:0}
#banners .noimgandlong .infos{width:100%}
#banners .hover h4 a:hover,#banners .hover h4 a:link,#banners .hover h4 a:visited{color:#666!important}}
.pages{text-align:right;margin:48px 0}
.pages a{text-decoration:none}
.pages a:hover{text-decoration:none}
.pages .btn{display:inline-block;*display:inline;*zoom:1;border:1px solid #ddd;color:#333;line-height:32px;height:32px;font-size:14px;padding:0 15px}
.pages .page{position:relative;height:34px;width:70px;display:inline-block;*display:inline;*zoom:1;margin:0 15px 0 10px;background:url(images/jm_pagearr_6428d48.png) no-repeat right center}
.pages .pg{margin:2px 0;font-size:14px;line-height:30px;display:inline-block;*display:inline;*zoom:1;height:30px;text-align:center;color:#333;width:100%}
.pages .pageDown{position:absolute;left:0;width:68px;text-align:center;bottom:40px;background:#fff;border:1px solid #b2b2b2}
.pages .pageDown a{line-height:28px;display:block;color:#333;font-size:12px}
.pages .pageDown a:hover{background:#e1e4e5}
.pages .pageDown a.pgdis,.pages .pageDown a.pgdis:hover,.pages .pageDown a.pgdis:visited,.pages .pageDown a.pgdis:active{color:#999;cursor:default;background:#fff}
.pages .pg em,.pages .pageDown a em{font-style:normal;margin:0 3px}
.loading{text-align:center;line-height:24px;margin:38px 0 58px;color:#999;font-size:16px}
.loading img{position:relative;margin-right:10px}
.loading b{font-weight:400;line-height:24px;display:inline-block;vertical-align:top}
@media screen and (max-width:660px){.pages{margin-right:13px}}
.mod-sidebar{position:absolute;right:0;top:0;width:200px;height:100%;visibility:hidden;background-color:#2d2e32;overflow:hidden;z-index:1}
.mod-sidebar a{text-decoration:none}
.mod-sidebar .menu .toolbar{font-size:16px}
.mod-sidebar .menu li{font-size:18px}
.mod-sidebar .menu .logo{position:relative}
.mod-sidebar .menu .logo a{display:inline-block;*display:inline;zoom:1;width:140px;height:60px;line-height:50px;padding:0 30px}
.mod-sidebar .menu .logo img{position:absolute;top:16px;left:30px}
.toolbar{position:relative;color:#808183;padding:0 30px;border-bottom:1px solid #38393c}
.toolbar a{display:inline-block;*display:inline;zoom:1;height:50px;line-height:50px;margin-right:5px;color:#808183}
.toolbar .search{padding-left:25px}
.toolbar .icon-search{position:absolute;top:16px;left:30px;display:inline-block;*display:inline;zoom:1;width:18px;height:18px;background-image:url(/skin/images/icon-search_2b434f1.png);background-size:100% auto}
.toolbar .username{margin-bottom:15px;text-align:center;display:none}
.toolbar .login{margin-left:5px}
.mod-sidebar .menu li{width:200px;border-bottom:1px solid #38393c}
.mod-sidebar .menu li a{display:inline-block;*display:inline;zoom:1;width:140px;height:50px;line-height:50px;padding:0 30px;color:#fff}
.mod-sidebar .menu li .submenu{margin-top:-8px;margin-bottom:12px}
.mod-sidebar .menu li .submenu .sub-item a{height:35px;line-height:35px;font-size:16px;color:#959698}
.pagination{padding:20px;background-color:#fff;text-align:center}
.pagination ul{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0}
.pagination ul > li{display:inline}
.pagination ul > li > a,.pagination ul > li > span{margin:0 1px;float:left;padding:4px 12px 3px;line-height:20px;text-decoration:none;background-color:#eee;color:#666}
.pagination ul > li > a:hover,.pagination ul > li > a:focus{background-color:#ccc;color:#444}
.pagination ul > .active > a,.pagination ul > .active > span{background-color:#428BCA;color:#fff}
.pagination ul > .active > a,.pagination ul > .active > span{cursor:default}
.pagination ul > li > span,.pagination ul > .disabled > span,.pagination ul > .disabled > a,.pagination ul > .disabled > a:hover,.pagination ul > .disabled > a:focus{color:#999999;background-color:transparent;cursor:default}