<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>SShare</id>
<name>一键分享</name>
<url></url>
<note>键分享到微博、QQ空间、QQ好友、微信、腾讯微博、豆瓣、Facebook、Twitter、Linkedin、Google+、点点</note>
<description>键分享到微博、QQ空间、QQ好友、微信、腾讯微博、豆瓣、Facebook、Twitter、Linkedin、Google+、点点，支持HTTPS情况下</description>
<path></path>
<include>include.php</include>
<level>1</level>
<author>
  <name>Seventeen</name>
  <email>ziyuanb@vip.qq.com</email>
  <url></url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>150101</adapted>
<version>1.0</version>
<pubdate>2017-02-14</pubdate>
<modified>2017-02-14</modified>
<price>2.5</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>