@charset "utf-8";
/* 
*Filename:		style.css
*Description:		Mizhe Theme CSS
*Author:		toyean
*Website:		http://www.toyean.com/
*Mail:			toyean@qq.com
*MicroBlog:		http://weibo.com/toyean
*Version:		1.0.0(2014-07-14)
*Page width:		960px
*/
* { margin:0; padding:0; }
body { margin:0; padding:0; font-size:12px; font-family:microsoft yahei,verdana; background:url(../include/bg.png) repeat; }
ul { list-style:none; }
a { text-decoration:none; }
a:hover { color:#ca3c3c; }
h1,h2,h3,h4,h5,h6 { font-weight:normal; }
img { max-width:100%; height:auto; width:auto\9; border:0; }
.clear { clear:both; }
.wrapper { width:100%; min-width:960px; overflow:hidden; }
.header { width:100%; padding-bottom:36px; background:#fff; }
.top { width:100%; height:38px; line-height:38px; border-bottom: 1px solid #e5e5e5;overflow:hidden;background-color: #f5f5f5; }
.topmain { width:960px; margin:0 auto; overflow:hidden; }
.taoicon { padding-left:18px; background:url(images/icon.png) no-repeat -100px 3px; }
.qqicon { padding-left:15px; background:url(images/icon.png) no-repeat -100px -35px; }
.weiboicon { padding-left:18px; background:url(images/icon.png) no-repeat -100px -72px; }
.myicon { padding-left:15px; background:url(images/icon.png) no-repeat -100px -110px; }
.friendicon { padding-left:15px; background:url(images/icon.png) no-repeat -100px -148px; }
.helpicon { padding-left:18px; background:url(images/icon.png) no-repeat -100px -186px; }
.sericon { padding-left:15px; background:url(images/icon.png) no-repeat -100px -257px; }
.leftnav { float:left; }
.leftnav ul li { float:left; margin-right:10px; }
.leftnav ul li a { font-size:12px; color:#3e3e3e; }
.rightnav { float:right; text-align:right; }
.rightnav ul li { display:inline; margin-left:10px; }
.rightnav ul li a { font-size:12px; color:#3e3e3e; }
.sign { padding-bottom:10px; }
.logo { width:200px; float:left; margin-top:10px; }
.search { float:left; margin:25px 0 0 55px; }
.searchtxt { width:450px; height:33px; float:left; border:3px solid #fc7600; }
.searchbtn { float:left; }
.searchtxt input { width:430px; height:32px; padding:0 10px; line-height:32px; border:0; outline:0; }
.searchbtn input { width:86px; height:39px; border:0; cursor:pointer; background:#fc7600 url(images/searchbtn.png) no-repeat 1px 2px; }
.menu { width:100%; height:36px; background:#ff8b00; overflow:hidden; }
.menu ul li { float:left; line-height:36px; text-align:center; }
.menu ul li a { padding:0 14px; font-size:14px; color:#fff; font-weight:bold; text-shadow:0 -1px 0 #ea6300; display:block; }
.menu ul li a:hover { text-decoration:none; background:#ffad00; }
.menu ul li.on { margin-left:-1px; padding-left:2px; background:url(images/menu.png) no-repeat 0 -75px; }
.menu ul li.on a:hover { background:none; }
.floatbox { position:absolute; left:0; z-index:9; }
.weibo { float:right; margin-top:35px; }
.box { width:960px; margin:0 auto; overflow:hidden; }
.banner { width:100%; margin-top:15px; }
.default { width:100%; margin-top:20px; }
.default ul { width:110%; }
.default ul li { width:229px; height:279px; float:left; margin:0 15px 20px 0; }
.timg { position:relative; }
.timg a { display:block; }
.timg img { width:229px; max-width:229px; height:229px; }
.timg:hover img { opacity:.8; filter:alpha(opacity = 80); -moz-opacity:.8; }
.tinfo { width:100%; height:25px; line-height:25px; background:rgba(0,0,0,0.5); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#50000000,endcolorstr=#50000000); position:absolute; left:0; bottom:0; display:none; }
.tinfo a { padding:0 5px; font-size:12px; color:#fff; }
.tsale { height:40px; padding:5px 5px; background:#fff; position:relative; oveflow:hidden; }
.tsale .noprice { font-size:18px; color:#eb362d; line-height:40px; }
.tprice { margin-right:10px; font-size:24px; color:#eb362d; font-family:arial; letter-spacing:-2px; }
.tprice i { font-size:34px; font-style:normal; }
.tother { padding-top:3px; font-size:12px; color:#ccc; font-style:normal; display:inline-block; vertical-align:top; }
.tother { *display:inline; }
.tother del { color:#aaa; }
.tbtn { width:67px; height:27px; background:url(images/ticon.png) no-repeat; position:absolute; top:12px; right:8px; display:none; }
.fourlist img { width:229px; height:229px; }
.threelist img { width:310px; height:310px; }
.bdhover .tinfo,.bdhover .tbtn { display:block; }
.well,.tuan { width:960px; margin-top:15px; overflow:hidden; }
.wellcon { width:750px; float:left; }
.wellcon ul li { float:left; margin:0 10px 10px 0; background:#fff; }
.wellimg { position:relative; }
.wellimg .hot,.timg .hot,.tuanimg .hot,.tuanmainimg .hot { width:65px; height:65px; background:url(images/icon.png) no-repeat; position:absolute; left:0; top:0; z-index:1; }
.wellimg a { display:block; }
.wellimg img { width:240px; height:240px; }
.wellname { height:35px; padding:0 14px; line-height:35px; overflow:hidden; }
.wellname a { font-size:13px; color:#3e3e3e; }
.wellname a:hover { color:#ca3c3c; }
.wellinfo { height:35px; padding:0 10px 5px; overflow:hidden; }
.wellinfo .noprice { width:140px; height:35px; float:left; font-size:18px; color:#f30; line-height:35px; }
.wellprice { width:140px; height:35px; float:left; font-size:16px; color:#f30; overflow:hidden; }
.wellprice i { font-size:26px; letter-spacing:-1px; font-style:normal; }
.wellprice del { font-size:12px; color:#999; }
.wellbtn a { width:80px; height:26px; float:left; margin-top:5px; background:url(images/icon.png) no-repeat 0 -120px; display:block; }
.wellside { width:209px; float:right; padding:10px 0; background:#fff; }
.wellsidetop { height:35px; margin-bottom:3px; padding-left:10px; line-height:35px; border-bottom:1px dotted #ddd; }
.wellsidetop h3 { font-size:14px; color:#ee7b8e; }
.wellsidecon ul li { height:72px; float:left; margin:0 5px; padding:12px 0; border-bottom:1px dotted #f1f1f1; }
.simg { width:60px; height:60px; float:left; margin-left:3px; padding:3px; border:1px solid #dedede; box-shadow:1px 1px 2px 0 #ddd; overflow:hidden; }
.sinfo { width:110px; float:left; padding-left:10px; }
.sinfo p { height:20px; font-size:14px; color:#ee7b8e; font-weight:bold; }
.sinfo p a { height:36px; font-size:13px; color:#666; line-height:18px; font-weight:normal; overflow:hidden; }

.post ul { width:110%; margin-top:20px; padding-left:1px; }
.post ul li { width:270px; height:395px; float:left; margin:0 26px 26px 0; padding:15px 15px 10px; border:1px solid #fff; box-shadow:0 1px 3px #ddd; border-radius:4px; background:#fff; }
.postname { height:45px; }
.postname a { font-size:14px; color:#444; line-height:22px; font-weight:bold; }
.postname a:hover { color:#ca3c3c; }
.postimg { position:relative; }
.postimg a { display:block; }
.postimg img { width:270px; height:270px; }
.postinfo { width:250px; height:20px; padding:0 10px; font-size:12px; color:#fff; line-height:20px; text-shadow:-1px 0 0 #555; position:absolute; left:0; bottom:0; }
.postinfo span { float:left; }
.postinfo del { margin-left:15px; }
.postinfo i { float:right; font-style:normal; }
.postunder { width:100%; height:20px; background:rgba(0,0,0,0.5); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#50000000,endcolorstr=#50000000); position:absolute; left:0; bottom:0; }
.postsale { width:250px; height:40px; padding:5px 10px; color:#fff; border-top:1px solid #f30; background:#f73710; }
.postprice { float:left; font-size:18px; line-height:40px; text-shadow:0 0 0 transparent,1px 1px 1px #900; }
.postprice i { font-size:36px; font-style:normal; letter-spacing:-2px; }
.postbtn a { width:89px; height:32px; float:right; margin:5px 0 0; background:url(images/btn.png) no-repeat 0 -32px; display:block; }
.posttags { width:100%; height:18px; margin-top:10px; overflow:hidden; }
.posttags a,.protaglist a { height:18px; float:left; margin:0 5px 0 0; padding:0 12px; font-size:12px; color:#777; line-height:18px; background:url(images/btn.png) no-repeat 0 -172px; position:relative; }
.posttags a i,.protaglist a i { width:3px; height:18px; background:url(images/btn.png) no-repeat right -145px; position:absolute; right:0; top:0; }

#infscr-loading { padding:20px; overflow:hidden; }
.loading { width:200px; height:20px; margin:auto; padding:3px 5px; color:#fff; line-height:20px; text-align:center; border-radius:5px 5px 5px 5px; opacity:.7; background:#aaa; }
.pagebar { width:100%; margin:0; padding:50px 0 0; line-height:34px; text-align:center; clear:both; }
.pagebar a { margin:4px; padding:8px 13px; color:#777; font-weight:bolder; border:1px solid #e2e2e2; background:#fff; }
.now-page { color:#fff; font-weight:bolder; padding:8px 13px; margin:5px; border:1px solid #f50; background:#f50; }
.pagebar a:hover { color:#f50; border:1px solid #f50; background:#fff; }
.last-page,.first-page { color:#777; border:1px solid #ddd; }
.pagebar-tip { width:136px; height:72px; margin-top:-30px; text-indent:-999px; background:url(images/pagebar-tip.png) no-repeat; overflow:hidden; display:inline-block; vertical-align:top; }
.pagebar-tip { *display:inline; }

.tuan { position:relative; }
.tuancon { width:735px; float:left; border:1px solid #e3e3e3; background:#fff; }
.tuantitle,.tuansidetop,.contitle,.sidetitle,.commenttitle { font-size:14px; color:#767676; border-right:1px solid #eee; border-bottom:1px solid #eee; overflow:hidden; }
.tuantitle h3,.tuansidetop h3,.contitle h3,.sidetitle h3,.commenttitle h4 { margin:10px; padding-left:10px; line-height:18px; border-left:3px solid #ff8b00; }
.tuancon ul,.tuanmain ul,.conbox ul { width:110%; }
.tuancon ul li { height:258px; float:left; padding:15px; border:1px solid #fff; border-right:1px solid #eee; border-bottom:1px solid #eee; }
.tuanimg { position:relative; }
.tuanimg a { display:block; }
.tuanimg img { width:213px; max-width:213px; height:213px; }
.tuanname { width:100%; height:25px; line-height:25px; text-align:center; background:rgba(0,0,0,0.5); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#50000000,endcolorstr=#50000000); position:absolute; left:0; bottom:0; display:none; }
.tuanname a { font-size:12px; color:#fefefe; }
.tuansale { padding-top:10px; text-align:right; overflow:hidden; }
.tuansale .noprice { float:left; margin-top:11px; font-size:18px; color:#eb362d; }
.tuanprice { height:35px; float:left; padding-right:10px; font-size:17px; color:#eb362d; font-family:tahoma,verdana; line-height:35px; }
.tuanprice i { font-size:28px; font-style:normal; letter-spacing:-2px; }
.tuaninfo { float:left; padding-top:5px; color:#909090; line-height:14px; text-align:left; }
.tuannum { padding-top:15px; color:#909090; display:inline-block; vertical-align:top; }
.tuancon .bdhover { border:1px solid red; }
.bdhover .tuanname,.bdhover .tuanmainname { display:block; }
.tuanside { width:208px; float:right; border:1px solid #e3e3e3; background:#fff; }
.tuansidecon { border-right:1px solid #eee; overflow:hidden; }
.tuansidecon ul { padding-bottom:25px; }
.tuansidecon ul li { padding:21px 15px 0; overflow:hidden; }
.tuansideimg { float:left; }
.tuansideimg img { width:90px; height:90px; }
.tuansideinfo { width:75px; float:left; padding-left:10px; }
.tuansideinfo p { height:35px; margin-bottom:10px; font-size:14px; color:#e83838; overflow:hidden; }
.tuansideinfo p a { font-size:12px; color:#909090; }

.tuanmain { margin-top:20px; border-top:1px solid #eee;  background:#fff; overflow:hidden; }
.tuanmain ul li { height:315px; float:left; padding:23px 24px 24px 23px; border:2px solid #fff; border-right:1px solid #eee; border-bottom:1px solid #eee; }
.tuanmainimg { position:relative; }
.tuanmainimg a { display:block; }
.tuanmainimg img { width:270px; height:270px; }
.tuanmainname { width:100%; height:32px; line-height:32px; text-align:center; background: rgba(0,0,0,0.5); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#90000000,endcolorstr=#90000000); position:absolute; left:0; bottom:0; overflow:hidden; display:none; }
.tuanmainname a { font-size:14px; color:#fefefe; }
.tuanmainsale { margin-top:5px; font-size:14px; color:#8e8e8e; text-align:right; }
.tuanmainsale .noprice { float:left; margin-top:16px; font-size:18px; color:#eb362d; }
.tuanmainprice { float:left; font-size:24px; color:#eb362d; font-family:tahoma,verdana; letter-spacing:-2px; }
.tuanmainprice i { font-size:33px; font-style:normal; }
.tuanmaininfo { float:left; margin:5px 0 0 15px; font-size:12px; text-align:left; }
.tuanmainnum {  margin-top:20px; display:inline-block; vertical-align:top; }
.tuanmain .bdhover { padding:23px; border:2px solid #fa6600; }

.sidenav { width:120px; margin-left:-620px; text-align:center; border:1px solid #e1e1e1; background:#fff; position:absolute; left:50%; top:273px; z-index:10; }
.sidenav h3 { height:35px; font-size:16px; color:#fff; line-height:35px; font-weight:bold; text-shadow:0 -1px 0 #ea6300; background:#ff7f00; }
.sidenav p { width:100%; height:30px; color:#92673d; line-height:30px; background:#fbf4ee; }
.sidenav ul,.sidenav dl { padding:0 10px; overflow:hidden; }
.sidenav ul li { width:50%; height:35px; float:left; line-height:35px; overflow:hidden; }
.sidenav ul li a,.sidenav dl dd a { font-size:14px; color:#666; }
.sidenav a:hover { color:#f88500; }
.sidenav a.select { color:#f88500; }
.sidenav dl dd { width:100%; line-height:35px; }

.singlebox { width:100%; margin-top:15px; overflow:hidden; }
.single { width:715px; float:left; }
.program { margin-bottom:12px; padding-bottom:15px; border:1px solid #e5e5e5; background:#fff; overflow:hidden; }
.proname { padding:15px; line-height:30px; }
.proname h2 { font-size:24px; word-break:break-all; word-wrap:break-word; }
.proname h2 span { color:#999; }
.probox { height:315px; overflow:hidden; }
.prodetail { width:320px; float:left; padding-top:10px; }
.proprice { height:40px; padding:5px 20px; color:#fff; line-height:40px; text-shadow:0 0 0 transparent,1px 1px 1px #900; letter-spacing:-1px; background:#f73710; }
.proready { height:40px; padding:5px 20px; color:#fff; line-height:40px; text-shadow:0 0 0 transparent,1px 1px 1px #690; letter-spacing:-1px; background:#8b3; }
.proready .noprice { font-size:18px; color:#fff; }
.proprice span { float:left; font-size:24px; }
.proprice span i { font-size:36px; font-style:normal; }
.proprice a.now { width:89px; height:32px; float:right; margin-top:6px; text-indent:-999px; background:url(images/btn.png) no-repeat 0 -32px; }
.proready a.ready { width:89px; height:32px; float:right; margin-top:6px; text-indent:-999px; background:url(images/btn.png) no-repeat 0 0; }
.proinfo { padding:10px 0; overflow:hidden; }
.proinfo span { width:33%; float:left; font-size:12px; color:#999; line-height:26px; text-align:center; }
.proinfo span em { width:100%; font-size:12px; font-style:normal; display:block; }
.proinfo span del,.proinfo span i { font-size:14px; color:#e63; font-style:normal; letter-spacing:-1px; }
.proinfo span del { color:#666; }
.proinfo var { font-style:normal; }
.pronum { padding:15px 10px; font-size:14px; color:#666; line-height:24px; text-align:center; border-top:1px solid #eee; border-bottom:1px solid #eee; background:#f2f2f2; }
.pronum i { font-size:26px; color:#c7223d; font-family:arial; font-style:normal; }
.protime { padding:15px 20px; }
.protime p { font-size:12px; color:#999; line-height:17px; text-indent:20px; background:url(images/menu.png) no-repeat -139px -384px; }
.protime span { height:32px; margin-top:10px; font-size:14px; color:#666; text-align:center; display:block; }
.protime span em { margin:0 5px; font-size:24px; color:#333; font-family:arial; font-style:normal; }
.proimg { width:390px; height:310px; float:right; border:1px solid #f1f1f1; overflow:hidden; }
.proimg img { width:390px; height:390px; margin-top:-40px; }
.protags { margin-top:10px; padding:0 20px; overflow:hidden; position:relative; }
.protaglist { float:left; margin-top:5px; }
.proshare { position:absolute; right:10px; top:0; }

.content { margin-top:15px; border:1px solid #e5e5e5; background:#fff; }
.articlecon { padding:20px; font-size:14px; color:#999; line-height:25px; }
.pagecon { padding:0 20px; font-size:14px; color:#999; line-height:25px; }
.seller { width:64px; height:64px; float:left; background:url(images/seller.png) no-repeat; }
.articlecon em { font-size:12px; color:#e63; font-style:normal; }
.articlecon p { margin:0 0 10px; }
.articlecon iframe,.articlecon embed,.articlecon object,.articlecon pre { max-width:100%; }
.articlecon table { border-collapse: collapse; }
.articlecon td,.articlecon th { padding:5px 10px; border:1px solid #DDD; }
.articlecon pre { word-wrap:break-word; }
.contitle { height:38px; }
.contitle h3 { float:left; }
.contitle a { float:right; margin-top:10px; padding-right:15px; font-size:12px; color:#999; line-height:20px; }
.conbox { padding:10px; border-right:1px solid #eee; overflow:hidden; }
.conbox ul li { float:left; margin:5px 3px 0 5px; display:inline-block; }
.conimg img { width:130px; max-width:130px; height:130px; }
.conname { width:130px; height:25px; line-height:25px; overflow:hidden; }
.conname a { font-size:12px; color:#5e5e5e; }
.condetail { letter-spacing:-1px; }
.condetail em { font-size:14px; color:#e63; font-family:verdana; font-style:normal; }
.condetail del { margin-left:10px; font-size:12px; color:#999; }

.commentcon { padding:15px; }
.cmtpost { margin-top:20px; overflow:hidden; }
.cmtimg { width:50px; float:left; }
.cmtimg img { width:50px; height:50px; }
.cmtcon { float:right; padding-bottom:20px; text-align:right; }
.cmtcon span { color:#ccc; line-height:35px; }
.cmtcon textarea { width:600px; height:63px; padding:10px; font-family:microsoft yahei; border:1px solid #bebebe; -moz-border-radius:2px;
-webkit-border-radius:2px; border-radius:2px; -webkit-box-shadow:0 1px 0 0 rgba(240,240,240,1); -moz-box-shadow:0 1px 0 0 rgba(240,240,240,1); box-shadow:0 1px 0 0 rgba(240,240,240,1); outline:0; overflow:hidden; }
.cmtpost .cmtfocus { border:1px solid #ffdca0; -moz-box-shadow:0 0 5px rgba(255,185,65,.5); -webkit-box-shadow:0 0 5px rgba(255,185,65,.5); box-shadow:0 0 5px rgba(255,185,65,.5); -webkit-transition:all .3s ease-out 0s; -moz-transition:all .3s ease-out 0s; transition:all .3s ease-out 0s; }
.cmtbtn { margin-top:2px; text-align:left; }
.cmtbtn span { float:left; }
.cmtbtn input { width:74px; height:32px; float:right; border:0; outline:0; cursor:pointer; background:url(images/icon.png) no-repeat -276px 0; }
.cmtbtn input:hover { background:url(images/icon.png) -276px -32px; }
.cmtbtn input:active { background:url(images/icon.png) -276px -64px; }
.cmtinfo { width:575px; padding:0 0 20px 58px; overflow:hidden; }
.cmtinfo p { width:50%; float:left; padding:5px 0; }
.cmtinfo input { width:180px; height:20px; padding:2px 6px; border:1px solid #bebebe; border-radius:2px; outline:0; }
.cmtinfo input { *display:inline; }
.cmtinfo label { padding:0 10px; line-height:26px; }
.cmtinfo #inpVerify { width:100px; }
.cmtinfo img { width:70px; height:26px; margin-left:10px; vertical-align:top; }
.msg { border-top:1px solid #eee; padding:20px 0; overflow:hidden;}
.msg .msgimg { float:left; width:50px; height:50px; padding-top:5px;}
.msg .msgimg .avatar { width:50px; height:50px;}
.msg .msgname a { color:#e63; }
.msg .msgtxt { width:100%; float:right; margin-left:-60px;}
.msg .msgtxt .msgtxtbogy { margin-left:60px;}
.msg .msgtxt .msgname { height:24px; line-height:24px;}
.msg .msgtxt .msgname span { font-size:12px; color:#999; }
.msg .msgtxt .msgarticle { padding:5px 0; font-size:14px; color:#999; }
.msg .msgarticle .msg { margin-top:10px; font-size:12px; }
.msg .msgarticle .msg .msgimg { width:32px; height:32px;}
.msg .msgarticle .msg .msgimg .avatar { width:32px; height:32px;}
.msg .msgarticle .msg .msgtxt { width:100%; float:right; margin-left:-40px;}
.msg .msgarticle .msg .msgtxt .msgtxtbogy { margin-left:40px;}
.msg .msgarticle .msg .dot { display:none;}

.sidebar { width:229px; float:right; }
.sidebox { border:1px solid #e5e5e5; background:#fff; overflow:hidden; }
.sidetitle { border-right:0; }
.sidecon { overflow:hidden; }
.sidecon ul li { float:left; margin-bottom:15px; padding:10px 13px 15px; border-bottom:1px dashed #eee; }
.sideimg img { width:200px; max-width:200px; height:200px; }
.sidename { width:100%; margin-top:5px; }
.sidename em { margin-right:10px; font-size:14px; color:#e63; font-family:verdana; font-style:normal; letter-spacing:-1px; }
.sidename a { font-size:12px; color:#666; }
.sidedetail span { float:left; margin-top:5px; font-size:12px; color:#999; }
.sidedetail span del { font-size:14px; font-family:verdana; }
.sidedetail a { float:right; margin-top:5px; padding:2px 8px; color:#fff; border-radius:3px 3px; background:#f73710; }


.footer { padding-top:35px; color:#666; text-align:center; }
.footerbg { background:#fff url(images/footerbg.png) repeat-x; }
.footer .footblack { width:100%; padding:25px 0; background:#333; }
.footer .footblack a { color:#aaa; }
.btmimg { height:125px; margin-top:-35px; border-bottom:3px solid #f30; background:url(images/btmimg.png) no-repeat center bottom; }
.foot { width:960px; margin:0 auto; padding:10px 0; overflow:hidden; }
.footlink { height:20px; margin-bottom:10px; padding:10px; color:#999; line-height:20px; border-bottom:1px dashed #ccc; }
.friend { display:inline-block; }
.footlink ul { display:inline;  }
.footlink ul li { padding:0 5px; display:inline; }
.footlink ul li a { color:#999; }
.foot a { color:#aaa; }
.footnav { font-size:0; }
.footnav ul li { display:inline; }
.footnav ul li a { margin:0 10px; font-size:12px; color:#666; }
.footnav em { padding:0 5px; font-size:12px; color:#aaa; font-style:normal; }
.footsign { margin:10px 0; }
.footsign span { padding:0 5px; }
.copyright {  }

.mall_dot,.mall_dot_hover{float:left;margin:0 5px;width:14px;overflow:hidden;height:14px;line-height:100px;text-align:center;font-weight:800;font-size:12px;color:white;cursor:pointer;font-family:Tahoma;text-decoration:none;background:#9d9fa2;border-radius:50%}
.mall_dot_hover{ background:#ff8b00; }
.slide_control{position:absolute;z-index:20;left:10px;bottom:15px}
#tslide{ height:400px;overflow:hidden;}
#tslide ul {height:400px;overflow:hidden;_zoom:1;}
#tslide ul li{ height:400px;}
#tslide ul li a{width:100%;margin:0 auto;height:400px;display:block;background:url(about:blank);}
#tslide .slide_control{left:50%;}

a.totop { width:70px; height:50px; margin-left:512px; text-indent:-999px; border-radius:2px; cursor:pointer; opacity:.6; background:#000 url(images/menu.png) no-repeat 21px -363px; position:fixed; _position:absolute; left:50%; bottom:100px; _top: expression(eval(document.documentElement.scrollTop || document.body.scrollTop) +eval(document.documentElement.clientHeight || document.body.clientHeight) -305+'px'); overflow:hidden; display:block; }
a.totop:hover { background:#000 url(images/menu.png) no-repeat 21px -363px; }