<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
  <rewrite>
   <rules>
	<rule name="/ Z-BlogPHP Imported Rule" stopProcessing="true">
	 <match url="^.*?" ignoreCase="false" />
	  <conditions logicalGrouping="MatchAll">
	   <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
	   <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
	  </conditions>
	 <action type="Rewrite" url="index.php/{R:0}" />
	</rule>
	<rule name="/ Z-BlogPHP Imported Rule index.php" stopProcessing="true">
	 <match url="^index.php/.*?" ignoreCase="false" />
	  <conditions logicalGrouping="MatchAll">
	   <add input="{REQUEST_FILENAME}" matchType="IsFile" />
	  </conditions>
	 <action type="Rewrite" url="index.php/{R:0}" />
	</rule>
   </rules>
  </rewrite>
 </system.webServer>
    <connectionStrings>
        <add connectionString="Server=localhost;Database=zblog;Uid=root;Pwd=movesong" name="zblog" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
