.cp-login,.cp-vrs{display: block!important;}
.cp-login>p>a{display: inline-block!important;margin:0 10px 0 0!important;}
.ds-login,.ds-login>div{min-height:32px!important;height:32px!important;overflow: hidden!important;line-height: 32px!important;padding: 0!important;margin:0!important;border: 0!important;}
.ds-login{margin:10px 0 0 0!important;}