<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>Tctitleseo</id>
<name>标题SEO</name>
<url>http://www.ytecn.com</url>
<note>给网站各页面添加关键词与描述</note>
<description>给网站各页面添加关键词与描述</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>豫唐网络</name>
  <email>79300975@qq.com</email>
  <url>http://www.ytecn.com</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151626</adapted>
<version>2</version>
<pubdate>2014-04-29</pubdate>
<modified>2017-01-11</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>