<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>Searchlist</id>
<name>搜索优化支持分页</name>
<url>http://www.ytecn.com/</url>
<note>搜索优化支持分页</note>
<description>搜索优化,默认调用index模板，存在search模板则调用search模板。</description>
<path></path>
<include>include.php</include>
<level>1</level>
<author>
  <name>豫唐网络</name>
  <email>79300975@qq.com</email>
  <url>http://www.ytecn.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151626</adapted>
<version>1.1</version>
<pubdate>2016-11-08</pubdate>
<modified>2016-12-19</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>