<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>database</id>
<name>数据库管理(mysql)</name>
<url>http://www.ytecn.com/</url>
<note>数据库管理(mysql)</note>
<description></description>
<path>main.php?act=base</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>豫唐网络</name>
  <email>79300975@qq.com</email>
  <url>http://www.ytecn.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151626</adapted>
<version>1.1</version>
<pubdate>2016-12-23</pubdate>
<modified>2016-12-26</modified>
<price>0</price>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>