<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>dm_tools</id>
<name>ZB小工具集合</name>
<url>https://www.imlgm.com/</url>
<note>ZB小工具集合</note>
<description></description>
<path>set.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>大谋</name>
  <email>76453189@qq.com</email>
  <url>https://www.imlgm.com/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151740</adapted>
<version>1.2</version>
<pubdate>2014-08-27</pubdate>
<modified>2017-03-16</modified>
<price>0</price>
<phpver>5.2</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict>IMAGE</conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>