<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>z_hide</id>
<name>回复或登录可见</name>
<url></url>
<note>隐藏文章中的某段文字</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>Mr.</name>
  <email>admin@dafuli.net</email>
  <url>http://dafuli.net</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151626</adapted>
<version>1.0</version>
<pubdate>2017-03-12</pubdate>
<modified>2017-03-14</modified>
<price>29.8</price>
<phpver>5.2</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>