@charset "utf-8";
/* 
*Filename:		style.css
*Description:		Theme CSS
*Author:		toyean
*Website:		http://www.toyean.com/
*Mail:			toyean@qq.com
*MicroBlog:		http://weibo.com/toyean
*Version:		1.0(2014-03-23)
*Page width:		871px
*/
* { margin:0; padding:0; }
body { margin:0; padding:0; background:#efefef; font-size:12px; color:#545454; font-family:"Hiragino Sans GB","Microsoft YaHei"; }
::selection {color: #fff;background-color: #5faedb;}
::-moz-selection {color: #fff;background-color: #5faedb;}
a:link, a:visited { text-decoration:none; -webkit-transition:background-color .15s linear, color .15s linear; -moz-transition:background-color .15s linear, color .15s linear; -o-transition:background-color .15s linear, color .15s linear; -ms-transition:background-color .15s linear, color .15s linear; transition:background-color .15s linear, color .15s linear; }
h1,h2,h3,h4,h5,h6 { color:#545454; font-weight:normal; }
em { font-style:normal; }
body a { color:#545454; text-decoration:none; outline:0; }
a:hover { color:#2f4151; text-decoration:underline; }
img { max-width:100%; height:auto; width:auto\9; border:0; }
ul { list-style:none; }
a, .logo img, .menu li { -webkit-transition:all .3s ease; -moz-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }
.clear { clear:both; }
.wrapper { width:100%; background:fixed url(images/bg.jpg) center top; overflow:hidden; }
.box { width:871px; margin:auto; padding:52px 0 0; overflow:hidden; }
.sidebar { width:280px; float:left; color:#adadad; text-align:center; text-shadow:0 1px 2px rgba(0,0,0,0.5); background:#4e4e4e; }
.logo { padding:28px 30px 24px; text-align:center; }
.logo img { width:96px; height:96px; margin-bottom:15px; border-radius:100%; -webkit-border-radius:100%; -moz-border-radius:100%; }
.logo h1 a { height:24px; font-size:16px; color:#fff; line-height:24px; overflow:hidden; }
.subtitle { padding:12px 30px; border-top: 1px solid #505050; border-bottom: 1px solid #4a4a4a; background:#373737; box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3) inset; line-height: 18px; letter-spacing: 1px; }
.menu { padding:30px; border-bottom:1px solid #3e3e3e; }
.menu ul { box-shadow:0 1px 2px 0 rgba(0,0,0,0.3) inset; background:#373737; }
.menu ul li { width:220px; height:48px; text-align:left; line-height:48px; border-top:1px solid #404040; border-bottom:1px solid #2c2c2c; position:relative; }
.menu ul li a { padding: 0 32px 0 28px; color:#fff; background:url(images/icon.png) no-repeat right bottom; display:block; }
.menu ul li a:hover { text-decoration:none; background:#333 url(images/icon.png) no-repeat right bottom; }
.menu ul li a.active { color:#5faedb; background:#333 url(images/icon.png) no-repeat right bottom; }
.logo a:hover, .sidefoot a:hover { opacity:.7; text-decoration:none; }
.search { padding:30px; border-top:1px solid #575757; border-bottom:1px solid #3e3e3e; position:relative; }
.search form { box-shadow:0 1px 2px 0 rgba(0,0,0,0.3) inset; background:#373737; }
.search .txt { width:170px; height:14px; margin:0 34px 0 16px; padding:10px 0; font-size:14px; color:#adadad; font-family:"microsoft yahei"; line-height:14px; border:0; outline:0; background:0; }
.search .btn { width:20px; height:20px; border:0; cursor:pointer; background:url(images/icon.png) no-repeat right -630px;  position:absolute; top:38px; right:36px; }
.sidefoot { padding:30px 30px 20px; line-height:24px; border-top:1px solid #575757; }
.sidefoot a { color:#adadad; }
.sidebar, .menu ul, .search form {  border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; }

.main { width:560px; float:right; }
.post { margin:0 0 30px; border-radius:0 0 2px 2px; -webkit-border-radius:0 0 2px 2px; box-shadow:0 1px 1px 0 rgba(0,0,0,0.25); background:#fff; }
.postblock { padding:30px 30px 10px; }
.posttitle { margin-bottom:20px; padding-bottom:14px; font-size:18px; color:#666; line-height:36px; border-bottom:1px dotted #dfdfdf; }
.posttitle a { font-size:18px; color:#666; }
.postintro { font-size:12px; color:#999; line-height:24px; }
.postintro p { margin:0 0 18px; }
.postintro img { height:auto !important; }
.postinfo { padding:17px 30px; line-height:16px; border-radius:0 0 2px 2px; -webkit-border-radius:0 0 2px 2px; box-shadow:0 1px 1px 0 rgba(0,0,0,0.25) inset; text-shadow:0 1px 0 #fff; background:url(images/icon.png) repeat-x; }

.time { padding:0 20px; background:url(images/icon.png) no-repeat -5px -448px; }
.articate { padding:0 20px; background:url(images/icon.png) no-repeat -2px -142px; }
.commnum { padding:0 20px; background:url(images/icon.png) no-repeat -7px -338px; }
.viewnum { padding:0 20px; background:url(images/icon.png) no-repeat 0 -68px; }
.pagebar{ width:100%; height:24px; margin:0; padding:25px 0; border-top:2px solid #dbe0e6; word-break:break-all; clear:both; }
.pagebar .page{ margin:5px; margin-left:0; padding:5px 10px; color:#666; font-weight:bolder; border:1px solid #ccc; }
.pagebar .now-page{ margin:5px; margin-left:0; padding:5px 10px; color:#666; font-weight:bolder; border:1px solid #4e4e4e; }
.pagebar a:hover span.page{ color:#fff; border:1px solid #4e4e4e; background:#4e4e4e; }
.postcon .pagebar { margin-top:35px; padding:0; border:0; }
.singlebar { padding:15px 30px 18px; border-top:1px solid #ddd; border-radius: 0 0 2px 2px; -webkit-border-radius: 0 0 2px 2px; -moz-border-radius: 0 0 2px 2px; background:url(images/icon.png) repeat; overflow:hidden; }
.singlebar a { width:50%; height:17px; line-height:17px; overflow:hidden; }
.singlebar a.l { float:left; text-align:left; }
.singlebar a.r { float:right; text-align:right; }

.postname { padding:20px 15px 10px; }
.postname h3 { font-size:16px; color:#666; font-weight:normal; }
.postcon { padding:0 15px 15px; }
.posttags { padding:15px 0; border-top:1px dotted #ccc; }
.posttags a { margin-right:5px; padding:2px 8px; color:#999; border:1px solid #eee; }
.posttags a:hover { color:#545454; text-decoration:none; background:#eee; }

.postcon .msg { border-top:1px solid #eee; padding-top:5px; overflow:hidden;}
.postcon .msg .msgimg { float:left; width:48px; height:48px; padding-top:5px;}
.postcon .msg .msgimg .avatar { width:48px; height:48px;}
.postcon .msg .msgtxt { width:100%; float:right; margin-left:-60px;}
.postcon .msg .msgtxt .msgtxtbogy { margin-left:60px;}
.postcon .msg .msgtxt .msgname { height:24px; line-height:24px;}
.postcon .msg .msgtxt .msgname span { font-size:12px; color:#999999;}
.postcon .msg .msgtxt .msgarticle { padding:5px 0;}
.postcon .msg .msgarticle .msg { margin-top:10px; font-size:12px; }
.postcon .msg .msgarticle .msg .msgimg { width:32px; height:32px;}
.postcon .msg .msgarticle .msg .msgimg .avatar { width:32px; height:32px;}
.postcon .msg .msgarticle .msg .msgtxt { width:100%; float:right; margin-left:-40px;}
.postcon .msg .msgarticle .msg .msgtxt .msgtxtbogy { margin-left:40px;}
.postcon .msg .msgarticle .msg .dot { display:none;}

.comment_textarea { margin-bottom:5px; display:inline-block; vertical-align:top; }
#txaArticle { height:111px; padding:5px; color:#888; border:1px solid #ddd; outline:0; background:#fafafa; }
.comment_text label { padding:0 10px; }
.comment_text label, .comment_textarea label { font-size:14px; color:#666; line-height:30px; vertical-align:top; }
.comment_text .text { width:300px; margin-bottom:5px; padding:5px 8px; color:#888; line-height:18px; border:1px solid #ddd; outline:0; background:#fafafa; display:inline-block; vertical-align:top; }
#inpVerify { width:200px; }
.verifyimg { width:70px; height:27px; margin-left:9px; }
.comment_btn { width:100%; display:inline-block; vertical-align:top; }
.comment_btn .button { width:100%; height:35px; font-size:16px; color:#555; font-family:microsoft yahei; text-align:center; border:1px solid #ddd; border-radius:3px; text-shadow:1px 1px white; -moz-box-shadow:0 1px 1px #d0d0d0; -webkit-box-shadow:0 1px 1px #d0d0d0; box-shadow:0 1px 1px #d0d0d0; cursor:pointer; background:#fafafa; }
.comment_btn input.button:hover { color:#fff; text-shadow:1px 1px #315563; border:0; background:#4e4e4e; }

body{_background-image: url(about:blank);_background-attachment: fixed;}
a.backtotop { width:10px; height:12px; padding:19px 20px; text-indent:-999px; cursor:pointer; border-radius:3px; position:fixed; _position:absolute; right:10px; bottom:100px; _bottom:30px; _top:expression(documentElement.scrollTop+documentElement.clientHeight-100+"px"); background:#666 url(images/icon.png) no-repeat 9px -550px; overflow:hidden; }
a.backtotop:hover { background:#373737 url(images/icon.png) no-repeat 9px -583px; }

.footer { margin-top:30px; padding:30px 30px 20px; font-size:13px; color:#999; font-family:verdana,'microsoft yahei'; text-align:center; line-height:22px; border:1px solid #e7e7e7; box-shadow:0 0 2px -1px rgba(0,0,0,0.25); background:#fff; overflow:hidden; clear:both; }